@import url('https://fonts.googleapis.com/css?family=Righteous');

.navbar {
    background-color: black !important;
    height: 70px !important;
}

.app-name {
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px hsl(0, 0%, 21%);
    font-size: 7vmax;
}

.navbar-header{
    margin-left: auto !important;
    width:100%;
}

.jumbotron {
    height: 500px !important;
    border-radius: 0 !important;
}

.modal-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(0, 140, 255) !important;
}

.modal-content {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.banner-image {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)), 
        url('../../img/studious-student.jpg');
    height: 100%;
    background-position-y: 90%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.search-container {
    background: white;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 40px;
    max-width: 800px;
    position: relative;
    top: -92px;
    border-radius: 5px;
    box-shadow:  0 9px 14px rgb(124, 124, 124), 0 10px 50px rgb(187, 187, 187);
    @media (max-width: 850px) {
        margin: 0 20px 0 20px;
    }
}

.decks-not-found {
    margin: 20px auto 20px auto;
}

#carousel {
    margin: auto;
}

.fa-sign-out-alt {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#render-decks {
    max-width: 200vw;
    margin: 0 12px 20px 12px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0;
}

.h1-homepage-wrappers {
    height: 18vh;
    margin: auto;
}

.flippy-card {
    margin-left: 65%;
}

.feature-cards {
    font-size: 2.3vh;
    padding: 15px 1.1vw 15px 1.1vw;
}

.form-control {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', "Font Awesome 5 Solid", sans-serif;
}

#app-logo {
    height: 55px;
    width: 55px;
    transition: width 0.23s, height 0.23s;
}

#app-logo:hover {
    height: 60px;
    width: 60px;
}

.tag-btn {
    background:none!important;
    color:black;
    border:none; 
    padding:5px;
    font: inherit;
    cursor: pointer;
}

.feature-containers {
    width: 520px;
    margin-bottom: 30px;
}

.last-container {
    max-width: 520px;
    margin-bottom: 30px;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }