*,
*::before,
*::after {
	box-sizing: border-box;
}

p {
	margin: 0 0 1.4em;
	color: black;
}

#decks-page {

}

#decks-page__search-wrapper {
	display: flex;
	margin: auto;
	max-width: 736px;
}

.deck-list {
	&__add-deck-container {
		top: -12px;
		position: relative;
		margin-bottom: 15px;
	}
	&__card {
		margin: auto;
	}
}

.deck-title {
	margin: 10% auto 0 auto;
	color: black;
	cursor: pointer;
	font-size: 5vmin;
	margin-bottom: 1vh;
	&:hover,
	&:active {
		color: orangered;
	}
}

.decks a {
	text-decoration: none;
}

.h1-wrappers {
	width: 11vw;
	height: 18vh;
	margin: auto;
	display: inline-block;
}

.tags-box {
	width: 100%;
	background: hsl(0, 0%, 97%);
	min-height: 25px;
	max-height: 60px;
	box-shadow: inset 0 0 40px 1px hsla(0, 0%, 85%, 0.7);
	overflow-y: scroll;
	margin-top: -5px;
	border-width: 100%;
}

.tags-box::-webkit-scrollbar {
	background: rgba(219, 219, 219, 0.911);
	width: 5px;
}

.tags-box::-webkit-scrollbar-thumb {
	background: orangered;
}

#deck-list {
	width: 90%;
	padding: 4%;
	margin: 20px auto 0 auto;
}

.decks {
	position: relative;
	margin: 0 auto 2rem;
	padding: 1rem;
	background-color: white;
	word-wrap: break-word;
	text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em hsla(0, 0%, 100%, 0.95),
		0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em hsla(0, 0%, 100%, 0.80),
		0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1), 0 9px 14px rgb(124, 124, 124), 0 10px 50px hsl(0, 0%, 73%);
	height: 250px;
	width: 400px;
	@media (max-width: 478px) {
		width: 250px;
		height: 400px;
    }
}

.decks > :last-child {
	margin-bottom: 0;
}

.trash-btn {
    margin-left: 99%;
    margin-top: -16%;
    border-radius: 50%;
    @media (max-width: 478px) {
        margin-left: 98%;
        margin-top: -26%;
    }
}

.deck-create {
	margin-top: 15%;
}

.tag-btn {
	background: none !important;
	color: black;
	border: none;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	font-weight: 500;
}

.tag-btn:hover {
	color: orangered;
}
