$grey5: hsla(220, 15%, 23%, 1);
$grey3: hsla(220, 17%, 61%, 1);
$grey2: hsla(220, 17%, 80%, 1);
$grey1: hsla(220, 20%, 98%, 1);

$danger6: hsla(3, 100%, 40%, 1);
$danger5: hsla(3, 100%, 50%, 1);
$danger4: hsla(3, 100%, 57%, 1);
$danger2: hsla(3, 100%, 78%, 1);
$danger0: hsla(3, 100%, 99%, 1);

$alternate5: hsla(180, 85%, 50%, 1);

$primary8: hsla(214, 100%, 30%, 1);
$primary7: hsla(214, 100%, 35%, 1);
$primary6: hsla(214, 100%, 40%, 1);
$primary5: hsla(214, 100%, 50%, 1);

#decks-page__search-wrapper {
	display: flex;
	margin: auto;
	max-width: 736px;
}

.deck-list {
	&__add-deck-container {
		top: -12px;
		position: relative;
		margin-bottom: 15px;
	}
	&__card {
		margin: auto;
	}
}

.deck-link {
	display: none;
}

.deck-title {
	margin: 10% auto 0 auto;
	position: relative;
	color: $grey5;
	cursor: pointer;
	font-size: 40px;
	margin-bottom: 1vh;
	word-break: break-word;
	&:hover, &:active {
		color: $alternate5;
		top: -10px;
		position: relative;
		text-shadow: 1px 4px 1px hsla(180, 85%, 35%, 0.3);
		transition: text-shadow 200ms;
		.deck-link {
			display: inline-block;
			text-shadow: none;
		}
	}
	@media (max-width: 29.875rem) {
		font-size: 2rem;
	}
}

.decks a {
	text-decoration: none;
}

.h1-wrappers {
	width: 11vw;
	height: 18vh;
	margin: auto;
	display: inline-block;
}

.tags-box {
	position: relative;
	width: 100%;
	background: hsl(0, 0%, 97%);
	min-height: 25px;
	max-height: 60px;
	box-shadow: inset 0 0 40px 1px hsla(0, 0%, 85%, 0.7);
	overflow-y: scroll;
	border-width: 100%;
	top: -4px;
}

.tags-box::-webkit-scrollbar {
	background: rgba(219, 219, 219, 0.911);
	width: 5px;
}

.tags-box::-webkit-scrollbar-thumb {
	background: orangered;
}

#deck-list {
	width: 90%;
	padding: 4%;
	margin: 20px auto 0 auto;
}

.decks {
	position: relative;
	margin: 0 auto 2rem;
	padding: 1rem;
	background-color: white;
	word-wrap: break-word;
	text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em hsla(0, 0%, 100%, 0.95),
		0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em hsla(0, 0%, 100%, 0.80),
		0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1), 0 9px 14px rgb(124, 124, 124), 0 10px 50px hsl(0, 0%, 73%);
	height: 250px;
	width: 400px;
	@media (max-width: 478px) {
		width: 250px;
		height: 400px;
    }
}

.decks > :last-child {
	margin-bottom: 0;
}

.trash-btn {
	background-image: linear-gradient(175deg, $danger2, $danger5);
    margin-left: 99%;
    margin-top: -16%;
	border-radius: 50%;
	border: 1px solid $danger2 !important;
	box-shadow: 1px 2px 3px hsla(3, 100%, 20%, 1);
    @media (max-width: 478px) {
        margin-left: 98%;
        margin-top: -26%;
    }
}

.deck-create {
	margin-top: 15%;
}

.tag-btn {
	background: none !important;
	color: black;
	border: none;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	font-weight: 500;
	&:hover, &:active {
		color: hsl(180, 100%, 45%);
		border-bottom: 3px solid $alternate5;
	}
	&:focus {
		outline: none !important;
	}
}

.deck-list__create-btn {
	margin: auto;
	box-shadow: 0 0 10px $grey2;
	cursor: pointer;
	border-top: 2px solid $grey3;
	padding: 7px 18px;
	font-size: 16px;
	color: $grey1;
	background: $grey5;
	border-radius: 7px;
	&:active {
		border-top: 0;
		box-shadow: inset 0 0 10px $grey3;
		border-bottom: 2px solid $grey3;
	}
	&:focus {
		outline: none;
	}
}

.create-deck-input {
	width: 100%;
	border-radius: 7px;
	border: transparent;
	background: $grey1;
	box-shadow: inset 0 0 7px $grey3;
	border-bottom: 1px solid hsla(220, 17%, 70%, 1);
    color: $grey5;
    position: relative;
    top: -5px;
	margin-bottom: 5px;
	padding: 6px 12px;
	&:focus {
		outline: none;
	}
}

.create-deck-modal-btn {
	cursor: pointer;
	border-width: 0;
	box-shadow: 0 0 5px $grey3;
	font-size: 16px;
	padding: 7px 18px;
	border-radius: 5px;
	color: white;
	background: $primary5;
	border-top: 2px solid $primary6;
	&:focus {
		outline: none;
	}
	&:active {
		background: $primary7;
		border-top: 0;
		box-shadow: inset 0 0 5px $primary8;
	}
}

.decks-not-found-wrapper {
	max-width: 500px;
	min-width: 180px;
	margin: 20px auto;
	.decks-not-found {
		padding: 50px;
		border: 1px solid $danger5;
		border-bottom: 2px solid $danger5;
		border-radius: 10px;
		color: $danger4;
		background: $danger0;
		box-shadow: inset 0 0 10px $danger6;
		&__icon {
			font-size: 50px;
		}
		&__text {
			font-size: 18px;
		}
	}
}