.carousel {
    max-width: 900px !important;
    height: 400px !important;
    margin: 0 auto 50px;
    cursor: none !important;
    @media (max-width: 425px) {
        height: 600px !important;
    }
}

.carousel__items {
    padding: 100px 0 100px 0; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.slider-control-bottomcenter button {
    // display: inline-block;
    margin: 5px;
    background: hsl(0, 0%, 30%) !important;
    color: transparent !important;
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
    box-shadow:  0 3px 7px rgb(124, 124, 124), 0 5px 20px hsl(0, 0%, 73%);
    cursor: pointer;
    &:focus {
        color: transparent !important;
        background: dodgerblue !important;
        border: 5px solid black !important;
        outline: none !important;
    }
}

.flippy-text {
    font-size: 18px;
    @media (max-width: 425px) {
        font-size: 14px;
    }
}

#search-bar {
    width: 800px;
}

.flippy-cardContainer-wrapper {
    width: 400px;
    margin: auto;
    @media (min-width: 400px) and (max-width: 425px) {
        height: 375px;
        width: 200px;
    }
    @media (min-width: 370px) and (max-width: 399px) {
        height: 375px;
        width: 200px;
        left: -5vw;
    }
    @media (min-width: 361px) and (max-width: 369px) {
        height: 375px;
        width: 200px;
        left: -13vw;
    }
    @media (min-width: 331px) and (max-width: 360px) {
        height: 375px;
        width: 200px;
        left: -3vw;
    }
    @media (min-width: 321px) and (max-width: 330px) {
        height: 375px;
        width: 200px;
        left: -13vw;
    }
    @media (max-width: 320px) {
        height: 375px;
        width: 200px;
        left: -17vw;
    }
}

.flippy-card {
    @media (min-width: 359px) and (max-width: 425px) {
        left: 7vw;
    }
    @media (max-width: 358px) {
        left: 5vw;
    }
}

.flippy-front, .flippy-back {
    background: white !important;
    box-shadow:  0 3px 7px rgb(22, 22, 22), 0 5px 20px rgb(100, 100, 100);
    overflow-y: scroll;
    word-break: break-all;
}

.flippy-front {
    border-top: 4px solid dodgerblue;
}

.flippy-back {
    border-top: 4px solid crimson;
}

.flashcard {
    margin: 25px auto;
    height: 330px;
    width: 400px;
    box-shadow:  0 3px 4px rgb(22, 22, 22), 0 2px 10px rgb(100, 100, 100);
	@media (min-width: 359px) and (max-width: 600px) {
		width: 300px;
		height: 400px;
    }
    @media (max-width: 358px) {
		width: 250px;
		height: 400px;
    }
    &__create-btn {
        width: 100%;
        height: 90px;
        position: relative;
        border-top: 2px solid green;
        border-left: 0;
        border-right: 0;
        box-shadow:  0 0 4px rgb(22, 22, 22), 0 2px 10px rgb(100, 100, 100);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &:active {
            outline: none;
            border-top: 0;
            box-shadow: inset 0 0 10px hsl(113, 72%, 10%);
            border-bottom: 3px solid green;
        }
    }
    &__delete-btn {
        width: 100px;
        position: relative;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        outline: none !important;
        color: hsl(354, 90%, 54%);
        background: white;
        border-color: white;
        &:active {
            box-shadow: inset 0 0 5px hsl(354, 70%, 10%);
            border-bottom: 2px solid hsl(354, 70%, 34%)
        }
        @media (max-width: 600px) {
            width: 50px;
            height: 50px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 3px;
        }
     }
    &__delete-span {
       @media (max-width: 600px) {
           display: none;
       }
    }
    &__save-changes-btn {
        margin: auto;
        color: hsl(210, 100%, 46%);
        background: white;
    }
}

.delete-btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#flashcard-grid {
    height: 500px;
    width: 75%;
    margin: 50px auto 50px auto;
    padding: 10px 0;
}

.deck-options {
    width: 248px;
    margin: auto;
    &__edit-flashcards-btn, &__deck-settings-btn {
        box-shadow:  0 3px 7px rgb(22, 22, 22), 0 3px 20px rgb(100, 100, 100);
        &:focus {
            outline: none !important;
        }
        &:active {
            box-shadow: inset 0 2px 20px 2px hsla(0, 0%, 0%, 0.7);
            border-bottom: 2px solid hsla(0, 0%, 0%, 0.35);
            outline: none !important;
        }
    }
    &__edit-flashcards-btn {
        outline: none !important;
    }
}

/* Toggle Switches */

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 65%;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.toggle-slider {
    background-color: #2196f3;
}

input:focus+.toggle-slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded toggle-sliders */

.toggle-slider.round {
    border-radius: 34px;
}

.toggle-slider.round:before {
    border-radius: 50%;
}

/* Select & options */

select {
    height: 25px;
}

textarea {
    font-size: 12px;
    font-weight: normal;
    resize: none;
    overflow-y: scroll;
}

.control {
    margin: 1rem 0;
}

.phone-input {
    width: 100%;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s;
}

.cardSaved {
    color: red;
}

.grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 40px;
}

.settings-modal__close-btn {
    height: 40px;
    // position: relative;
    width: 40px;
}

#deck-setting-save-btn {
    margin-left: 90%;
    @media (max-width: 320px) {
        margin-left: 85%;
    }
    @media (min-width: 321px) and (max-width: 489px) {
        margin-left: 85%;
    }
    @media (min-width: 490px) and (max-width: 506px) {
        margin-left: 85%;
    }
    @media (min-width: 507px) and (max-width: 606px) {
        margin-left: 85%;
    }
    @media (min-width: 607px) and (max-width: 720px) {
        margin-left: 85%;
    }
}

@mixin moveSliders($moveLeftSlider, $moveRightSlider, $moveThemUp) {
    .slider-control-centerright {
        right: $moveRightSlider !important;
        top: $moveThemUp !important;
    }
    .slider-control-centerleft {
        left: $moveLeftSlider !important;
        top: $moveThemUp !important;
    }
}

// Nuka Carousel
.slider-control-centerright, .slider-control-centerleft {
    &:active {
        box-shadow: inset 0 2px 20px 2px hsla(0, 0%, 0%, 0.7);
        border-bottom: 2px solid hsla(0, 0%, 0%, 0.35);
    }
    & button:disabled {
        box-shadow: none;
    }
    & button {
        box-shadow:  0 2px 3px rgb(22, 22, 22), 0 1px 5px rgb(100, 100, 100);
        outline: none !important;
    }
}
@media (max-width: 320px) {
    @include moveSliders(6vw, 6vw, 50px);
}

@media (min-width: 321px) and (max-width: 373px) {
    .slider-control-centerright {
        margin-right: 5px;
    } 
    .slider-control-centerleft {
        margin-left: 5px;
    }
    @include moveSliders(1vw, 1vw, 50px);
}

@media (min-width: 374px) and (max-width: 489px) {
    .slider-control-centerright {
        margin-right: 5px;
    } 
    .slider-control-centerleft {
        margin-left: 5px;
    }
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 490px) and (max-width: 506px) {
    .slider-control-centerright {
        margin-right: 5px;
    } 
    .slider-control-centerleft {
        margin-left: 5px;
    }
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 507px) and (max-width: 606px) {
    .slider-control-centerright {
        margin-right: 10px;
    } 
    .slider-control-centerleft {
        margin-left: 10px;
    }
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 607px) and (max-width: 859px) {
    .slider-control-centerright {
        margin-right: 10px;
    } 
    .slider-control-centerleft {
        margin-left: 10px;
    }
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 860px) {
    @include moveSliders(100px, 100px, null);
}