.p_font {
    font-size: 20px;
}

.flippy-card {
    min-width: 100px;
    max-width: 500px;
}

.flippy-front {
    margin-top: 29%;
    word-wrap: break-word;
    @media (max-width: 320px) {
        transform: translateX(-260px);
    }
    @media (min-width: 321px) and (max-width: 489px) {
        transform: translateX(-270px);
    }
    @media (min-width: 490px) and (max-width: 506px) {
        transform: translateX(-233px);
    }
    @media (min-width: 507px) and (max-width: 520px) {
        transform: translateX(-220px);
    }
    @media (min-width: 521px) and (max-width: 606px) {
        transform: translateX(-255px);
    }
    @media (min-width: 607px) and (max-width: 720px) {
        transform: translateX(-260px);
    }
    @media (min-width: 721px) and (max-width: 1090px) {
        transform: translateX(-250px);
    }
    @media (min-width: 1091px) and (max-width: 1120px) {
        transform: translateX(-135px);
    }
    @media (min-width: 1121px) and (max-width: 1200px) {
        transform: translateX(-110px);
    }
    @media (min-width: 1201px) and (max-width: 1300px) {
        transform: translateX(-80px);
    }
    @media (min-width: 1301px) and (max-width: 1349px) {
        transform: translateX(-70px);
    }
    @media (min-width: 1350px) and (max-width: 1400px) {
        transform: translateX(-45px);
    }
    @media (min-width: 1401px) and (max-width: 1516px) {
        transform: translateX(-10px);
    }
    @media (min-width: 1517px) and (max-width: 1600px) {
        transform: translateX(5px);
    }
    @media (min-width: 1601px) and (max-width: 1634px) {
        transform: translateX(20px);
    }
    @media (min-width: 1635px) and (max-width: 1700px) {
        transform: translateX(40px);
    }
    @media (min-width: 1701px) and (max-width: 1830px) {
        transform: translateX(87px);
    }
    @media (min-width: 1831px) and (max-width: 1920px) {
        transform: translateX(110px);
    }
    @media (min-width: 1921px) and (max-width: 1999px) {
        transform: translateX(140px);
    }
    @media (min-width: 2000px) {
        transform: translateX(150px);
    }
}

.flippy-back {
    word-wrap: break-word;
    position: absolute;
    right: 500px;
}

div.slider {
    height: 450px !important;
    width: 60vmax !important;
    margin: auto;
    padding-left: 0;
}

div.slider-frame {
    height: 450px !important;
    margin: auto;
    padding: 50px;
    text-align: center;
    justify-content: center;
}

#search-bar {
    width: 800px;
}

.flashcard {
    margin: 10px auto 10px auto;
    height: 330px;
	width: 400px;
	@media (max-width: 600px) {
		width: 300px;
		height: 400px;
    }
}

#flashcard-grid {
    height: 500px;
    width: 75%;
    margin: 50px auto 50px auto;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

#edit-btns {
    border: 1px solid border;
    width: 248px;
    margin: auto;
}

/* Toggle Switches */

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 65%;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.toggle-slider {
    background-color: #2196f3;
}

input:focus+.toggle-slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded toggle-sliders */

.toggle-slider.round {
    border-radius: 34px;
}

.toggle-slider.round:before {
    border-radius: 50%;
}

/* Select & options */

select {
    height: 25px;
}

textarea {
    font-size: 12px;
    font-weight: normal;
    resize: none;
    overflow-y: scroll;
}

.control {
    margin: 1rem 0;
}

.phone-input {
    width: 100%;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s;
}

.cardSaved {
    color: red;
}

.tags-box {
    border-top: 1px solid rgb(126, 198, 247);
    border-bottom: 1px solid rgb(126, 198, 247);
    margin-top: 1%;
}

#close-deck-setting-container {
    right: -250px;
    @media (max-width: 320px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 321px) and (max-width: 489px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 490px) and (max-width: 506px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 507px) and (max-width: 606px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 607px) and (max-width: 720px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 721px) and (max-width: 1090px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 1091px) and (max-width: 1120px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 1120px) and (max-width: 1200px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 1201px) and (max-width: 1300px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 1301px) and (max-width: 1400px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 1401px) and (max-width: 1516px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 1517px) and (max-width: 1600px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 1601px) and (max-width: 1634px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 1635px) and (max-width: 1700px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 1701px) and (max-width: 1830px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 1831px) and (max-width: 1920px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 1921px) and (max-width: 1999px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
    @media (min-width: 2000px) {
        #close-deck-setting-container {
            right: -20vw !important;
        }
    }
}

#deck-setting-save-btn {
    margin-left: 90%;
    @media (max-width: 320px) {
        margin-left: 85%;
    }
    @media (min-width: 321px) and (max-width: 489px) {
        margin-left: 85%;
    }
    @media (min-width: 490px) and (max-width: 506px) {
        margin-left: 85%;
    }
    @media (min-width: 507px) and (max-width: 606px) {
        margin-left: 85%;
    }
    @media (min-width: 607px) and (max-width: 720px) {
        margin-left: 85%;
    }
}

@mixin moveSliders($moveLeftSlider, $moveRightSlider, $moveThemUp) {
    .slider-control-centerright {
        right: $moveRightSlider !important;
        top: $moveThemUp !important;
    }
    .slider-control-centerleft {
        left: $moveLeftSlider !important;
        top: $moveThemUp !important;
    }
}

// Nuka Carousel
@media (max-width: 320px) {
    @include moveSliders(6vw, 12vw, 50px);
}

@media (min-width: 321px) and (max-width: 373px) {
    @include moveSliders(1vw, 1vw, 50px);
}

@media (min-width: 374px) and (max-width: 489px) {
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 490px) and (max-width: 506px) {
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 507px) and (max-width: 606px) {
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 607px) and (max-width: 719px) {
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 720px) and (max-width: 1110px) {
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 1111px) and (max-width: 1200px) {
    @include moveSliders(4vw, 5vw, null);
}

@media (min-width: 1201px) and (max-width: 1399px) {
    @include moveSliders(4vw, 5vw, null);
}

@media (min-width: 1400px) and (max-width: 1500px) {
    @include moveSliders(7vw, 8vw, null);
}

@media (min-width: 1501px) and (max-width: 1800px) {
    @include moveSliders(9vw, 10vw, null);
}

@media (min-width: 1801px) {
    @include moveSliders(12vw, 13vw, null);
}