$primary8: hsla(214, 100%, 30%, 1);
$primary7: hsla(214, 100%, 35%, 1);
$primary6: hsla(214, 100%, 40%, 1);
$primary5: hsla(214, 100%, 50%, 1);
$primary4: hsla(214, 100%, 60%, 1);

$success6: hsla(134, 61%, 40%, 1);

$grey5: hsla(220, 15%, 23%, 1);
$grey4: hsla(220, 15%, 42%, 1);
$grey3: hsla(220, 17%, 61%, 1);
$grey2: hsla(220, 17%, 80%, 1);
$grey1: hsla(220, 20%, 98%, 1);
$greyAlt: hsla(220, 17%, 95%, 1);

$danger5: hsla(3, 100%, 50%, 1);

$alternate5: hsla(180, 85%, 50%, 1);

.carousel {
    max-width: 900px !important;
    height: 400px !important;
    margin: 0 auto 50px;
    cursor: none !important;
    @media (max-width: 425px) {
        height: 600px !important;
    }
}

.carousel__items {
    cursor: default;
    padding: 100px 0 100px 0; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.slider-control-bottomcenter button {
    // display: inline-block;
    margin: 5px;
    background: hsl(0, 0%, 30%) !important;
    color: transparent !important;
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
    box-shadow:  0 3px 7px hsl(0, 0%, 49%), 0 5px 20px hsl(0, 0%, 73%);
    cursor: pointer;
    &:focus {
        color: transparent !important;
        background: $primary4 !important;
        border: 5px solid $grey5 !important;
        outline: none !important;
    }
}

.flippy-text {
    font-size: 18px;
    @media (max-width: 425px) {
        font-size: 14px;
    }
}

#search-bar {
    width: 800px;
}

.slider-frame {
    cursor: default;
}

.flippy-cardContainer-wrapper {
    width: 400px;
    margin: auto;
    @media (min-width: 400px) and (max-width: 425px) {
        height: 375px;
        width: 200px;
    }
    @media (min-width: 370px) and (max-width: 399px) {
        height: 375px;
        width: 200px;
        left: -5vw;
    }
    @media (min-width: 361px) and (max-width: 369px) {
        height: 375px;
        width: 200px;
        left: -13vw;
    }
    @media (min-width: 331px) and (max-width: 360px) {
        height: 375px;
        width: 200px;
        left: -3vw;
    }
    @media (min-width: 321px) and (max-width: 330px) {
        height: 375px;
        width: 200px;
        left: -13vw;
    }
    @media (max-width: 320px) {
        height: 375px;
        width: 200px;
        left: -17vw;
    }
}

.empty-deck .flippy-card {
    @media (min-width: 359px) and (max-width: 425px) {
        left: -7vw;
    }
    @media (max-width: 358px) {
        left: -5vw;
    }
}

.flippy-card {
    @media (min-width: 359px) and (max-width: 425px) {
        left: 7vw;
    }
    @media (max-width: 358px) {
        left: 5vw;
    }
}

.flippy-front, .flippy-back {
    cursor: pointer;
    background: hsl(0, 0%, 100%) !important;
    box-shadow:  0 3px 7px hsl(0, 0%, 9%), 0 5px 20px hsl(0, 0%, 39%);
    overflow-y: scroll;
    word-break: break-word;
}

$warning5: hsla(44, 98%, 63%, 1);

.empty-deck .flippy-front {
    border-top: 4px solid $danger5;
}

.empty-deck .flippy-back {
    border-top: 4px solid $warning5;
}

.flippy-front {
    border-top: 4px solid $primary4;
}

.flippy-back {
    border-top: 4px solid $alternate5;
}

.flashcard {
    margin: 25px auto;
    min-height: 330px;
    max-height: 385px;
    width: 400px;
    box-shadow:  0 3px 4px hsl(0, 0%, 9%), 0 2px 10px hsl(0, 0%, 39%);
	@media (min-width: 359px) and (max-width: 600px) {
		width: 300px;
		height: 400px;
    }
    @media (max-width: 358px) {
		width: 250px;
		height: 400px;
    }
    &__create-btn {
        width: 100%;
        height: 90px;
        position: relative;
        border-top: 2px solid $success6;
        border-left: 0;
        border-right: 0;
        box-shadow:  0 0 4px hsl(0, 0%, 9%), 0 2px 10px hsl(0, 0%, 39%);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &:active {
            outline: none;
            border-top: 0;
            box-shadow: inset 0 0 10px hsl(113, 72%, 10%);
            border-bottom: 3px solid $success6;
        }
    }
    &__delete-btn {
        margin-top: 7px;
        margin-right: 10px;
        padding: 0;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        color: $danger5;
        background: transparent;
        border: none;
        font-weight: 400;
        &:hover, &:active {
            top: -3px;
            position: relative;
            text-shadow: 1px 3px 1px hsla(0, 100%, 30%, 0.3);
            transition: text-shadow 150ms;
        }
        &:focus {
            outline: none;
        }
        @media (max-width: 600px) {
            margin-top: 12px;
            margin-right: 0;
        }
     }
    &__delete-span {
       @media (max-width: 600px) {
           display: none;
       }
    }
    &__save-changes-btn {
        margin: auto;
        color: $primary4;
        background: transparent;
        margin-top: 7px;
        margin-right: 10px;
        padding: 0;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        border: none;
        font-weight: 400;
        &:hover, &:active {
            top: -3px;
            position: relative;
            text-shadow: 1px 3px 1px hsla(210, 100%, 46%, 0.3);
            transition: text-shadow 150ms;
        }
        &:focus {
            outline: none;
        }
    }
    &__input {
        border: transparent !important;
        width: 100%;
        display: block;
        padding: 0.375rem 0.75rem;
        word-break: break-all;
        font-size: 1rem;
        line-height: 1.5;
        color: $grey5;
        background-color: $greyAlt;
        border-radius: 7px !important;
        position: relative;
        border-bottom: 2px solid hsla(220, 17%, 60%, 1);
        box-shadow: inset 0 0 10px $grey4 !important;
        height: 70px;
        &:focus {
            outline: none !important;
        }
    }
}

.delete-btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#flashcard-grid {
    height: 500px;
    width: 75%;
    margin: 50px auto 50px auto;
    padding: 10px 0;
}

.deck-options {
    width: 248px;
    margin: auto;
    &__edit-flashcards-btn, &__deck-settings-btn {
        box-shadow:  0 3px 7px rgb(22, 22, 22), 0 3px 20px rgb(100, 100, 100);
        &:focus {
            outline: none !important;
        }
        &:active {
            box-shadow: inset 0 2px 20px 2px hsla(0, 0%, 0%, 0.7);
            border-bottom: 2px solid hsla(0, 0%, 0%, 0.35);
            outline: none !important;
        }
    }
    &__edit-flashcards-btn {
        outline: none !important;
    }
}

/* Toggle Switches */

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 65%;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0, 0%, 80%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: hsl(0, 0%, 100%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.toggle-slider {
    background-color: hsl(207, 90%, 54%);
}

input:focus+.toggle-slider {
    box-shadow: 0 0 1px hsl(207, 90%, 54%);
}

input:checked+.toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded toggle-sliders */

.toggle-slider.round {
    border-radius: 34px;
}

.toggle-slider.round:before {
    border-radius: 50%;
}

/* Select & options */

select {
    height: 25px;
}

textarea {
    font-size: 12px;
    font-weight: normal;
    resize: none;
    overflow-y: scroll;
}

.control {
    margin: 1rem 0;
}

.phone-input {
    border: transparent !important;
    width: 100%;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $grey5;
    background-color: $greyAlt;
    border-radius: 7px !important;
    border-bottom: 2px solid hsla(220, 17%, 60%, 1);
	box-shadow: inset 0 0 10px $grey4;
    position: relative;
    top: -5px;
}

#appt-time-input {
    border: transparent !important;
    outline: none;
    width: 100%;
    display: block;
    padding: 0.375rem 5px 0.375rem 15px;
    font-size: 1rem;
    line-height: 1.5;
    color: $grey5;
    background-color: $greyAlt;
    border-radius: 7px !important;
    position: relative;
    border-bottom: 2px solid hsla(220, 17%, 60%, 1);
	box-shadow: inset 0 0 10px $grey4;
    top: -10px;
}

.minutes-select {
    outline: none;
    background: $greyAlt;
    border-color: $grey2;
    color: $grey5;
    box-shadow: 0 1px 3px $grey3;
    margin-right: -45px;
    position: relative;
    left: -37px;
}

.cardSaved {
    color: red;
}

.grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 40px;
}

.settings-modal__close-btn {
    height: 40px;
    width: 40px;
}

#deck-setting-save-btn {
    border: none;
    margin-left: 15px;
    cursor: pointer;
	box-shadow: 0 0 5px $grey3;
	font-size: 16px;
	padding: 7px 18px;
	border-radius: 5px;
    color: white;
    background-color: $primary4;
    border-top: 2.4px solid $primary6;
    top: -1.9px;
    &:active {
        background-color: $primary5; 
        border-top: 0;
        box-shadow: inset 0 0 5px 2px $primary8;
        border-bottom: 2px solid $primary7;
    }
    &:focus {
        outline: none;
    }
}

@mixin moveSliders($moveLeftSlider, $moveRightSlider, $moveThemUp) {
    .slider-control-centerright {
        right: $moveRightSlider !important;
        top: $moveThemUp !important;
    }
    .slider-control-centerleft {
        left: $moveLeftSlider !important;
        top: $moveThemUp !important;
    }
}

// Nuka Carousel
.slider-control-centerright, .slider-control-centerleft {
    &:active {
        box-shadow: inset 0 2px 20px 2px hsla(0, 0%, 0%, 0.7);
        border-bottom: 2px solid hsla(0, 0%, 0%, 0.35);
    }
    & button:disabled {
        box-shadow: none;
    }
    & button {
        box-shadow:  0 2px 3px hsl(0, 0%, 9%), 0 1px 5px hsl(0, 0%, 39%);
        outline: none !important;
    }
}
@media (max-width: 320px) {
    @include moveSliders(6vw, 6vw, 50px);
}

@media (min-width: 321px) and (max-width: 373px) {
    .slider-control-centerright {
        margin-right: 5px;
    } 
    .slider-control-centerleft {
        margin-left: 5px;
    }
    @include moveSliders(1vw, 1vw, 50px);
}

@media (min-width: 374px) and (max-width: 489px) {
    .slider-control-centerright {
        margin-right: 5px;
    } 
    .slider-control-centerleft {
        margin-left: 5px;
    }
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 490px) and (max-width: 506px) {
    .slider-control-centerright {
        margin-right: 5px;
    } 
    .slider-control-centerleft {
        margin-left: 5px;
    }
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 507px) and (max-width: 606px) {
    .slider-control-centerright {
        margin-right: 10px;
    } 
    .slider-control-centerleft {
        margin-left: 10px;
    }
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 607px) and (max-width: 859px) {
    .slider-control-centerright {
        margin-right: 10px;
    } 
    .slider-control-centerleft {
        margin-left: 10px;
    }
    @include moveSliders(0.5vw, 0.5vw, 50px);
}

@media (min-width: 860px) {
    @include moveSliders(100px, 100px, null);
}