body {
    background: hsl(211, 100%, 97%);
    overflow-x: hidden;
    transition: all 0.3s ease;
    transition: margin-left 150ms linear;
}
.modal-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-content {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: white;
    box-shadow: 0 2px 10px rgb(194, 194, 194), 0 2px 10px rgb(194, 194, 194);
}

.toggle-slider {
    border-radius: 5px !important;
    &:focus {
        outline: none !important;
    }
}

.toggle-slider::before {
    border-radius: 5px !important;
    box-shadow: 0 2px 8px rgb(72, 75, 122), 0 2px 2px rgb(122, 126, 180);
}

.modal-backdrop.show {
	background: white !important;
	opacity: 0.7 !important;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.form-control {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', "Font Awesome 5 Solid", sans-serif;
}

li {
    text-align: left;
}