body {
    background: hsla(211, 43%, 79%, .2);
}
.modal-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-content {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}