body {
    background: hsl(211, 100%, 97%);
    overflow-x: hidden;
    transition: all 0.3s ease;
    transition: margin-left 150ms linear;
}
.modal-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-content {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}