$grey5: hsla(220, 15%, 23%, 1);
$grey4: hsla(220, 15%, 42%, 1);
$grey3: hsla(220, 17%, 61%, 1);
$grey2: hsla(220, 17%, 80%, 1);
$grey2half: hsla(220, 17%, 90%, 1);
$grey1: hsla(220, 20%, 98%, 1);
$alternate5: hsla(180, 85%, 50%, 1);

.navbar {
	background-color: hsl(0, 0%, 17%) !important;
	height: 76px !important;
	background-image: linear-gradient(175deg, $grey4, $grey5);
	box-shadow: 0 2px 8px black;
    z-index: 3;
    padding-top: 8px;
	padding-bottom: 10px;
	
	&__right-side {
		display: grid;
		grid-template-columns: 49px 70px 1fr; 
		grid-column-gap: 45px;
	}
	&__btns-home {
		transition: border-bottom 200ms;
		width: 49px;
		padding: 0 0;
		cursor: pointer;
		background: transparent;
		color: $grey2half;
		border: none;
		&:focus {
			outline: none;
		}
	}
	&__btns-features {
		width: 70px;
		cursor: pointer;
		transition: border-bottom 200ms;
		text-align: center;
		padding-top: 8px;
		text-decoration: none !important;
		color: $grey2half;
		&:hover {
			color: $grey2half;
		}
	}
}

.features-call-action-btn {
	font-size: 32px;
	text-decoration: none !important;
	color: $grey5;
	text-shadow: 1px 1px 5px $grey3;
	&:hover {
		color: inherit;
	}
	i {
		font-size: 50px;
		vertical-align: bottom;
		position: relative;
		top: 3px;
		animation: pointRight 1500ms ease-out infinite;
	}
	&:active {
		color: $grey1;
	}
}

@keyframes pointRight {
	33% {
		transform: translateX(0);
	}
	66% {
		transform: translateX(3px);
	}
	100% {
		transform: translateX(0)
	}
}

.navbar-header {
	margin-left: auto !important;
	width: 100%;
}

.jumbotron {
	height: 500px !important;
	border-radius: 0 !important;
}

.app-name {
	font-family: "Righteous", Arial, Helvetica, sans-serif;
	text-shadow: 3px 3px hsl(0, 0%, 21%);
	font-size: 7vmax;
}

.banner-image {
	background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)), url('../img/studious-student.jpg');
	height: 100%;
	background-position-y: 90%;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-bottom: 2px solid hsla(220, 15%, 23%, 0.9);
}

.banner-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.search-container {
	display: flex;
	background: $grey1;
	align-items: center;
	margin: auto;
	padding: 40px;
	max-width: 827px;
	position: relative;
	top: -96px;
	border-radius: 5px;
	box-shadow: 0 9px 14px hsl(0, 0%, 49%), 0 10px 50px hsl(0, 0%, 73%);
	@media (max-width: 850px) {
		margin: 0 20px 0 20px;
	}
	@media (max-width: 459px) {
		padding: 30px;
		top: -104px;
	}
}

#render-decks {
	max-width: 200vw;
	margin: 0 12px 20px 12px;
	padding: 50px 10px 10px;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 0;
	background: transparent;
}

.h1-homepage-wrappers {
	height: 18vh;
	margin: auto;
}

.feature-cards {
	font-size: 18px;
	padding: 40px;
	color: $grey5;
	border-radius: 7px;
	@media (max-width: 759px) {
		padding: 30px;
		font-size: 15px;
	}
	@media (max-width: 465px) {
		padding: 20px;
		font-size: 13px;
	}
	&__title {
		color: $grey5;
		font-size: 30px;
		@media (max-width: 759px) {
			font-size: 24px;
		}
		@media (max-width: 465px) {
			font-size: 16px;
		}
	}
}

.feature-containers {
	width: 520px;
	margin-bottom: 30px;
	@media (max-width: 759px) {
		margin-bottom: 15px;
	}
}

.feature-containers-row {
	margin: 30px auto 0 !important;
	@media (max-width: 759px) {
		margin: 15px auto;
	}
}

.last-container {
	max-width: 520px;
	margin-bottom: 15px;
}

.features-title {
	font-weight: 500;
	color: hsla(220, 15%, 23%, 1);
	margin: auto; 
}

$success6: hsla(134, 61%, 40%, 1);
$success5: hsla(123, 61%, 50%, 1);
$success4: hsla(134, 55%, 54%, 1);
$success3: hsla(134, 80%, 65%, 1);
$success2: hsla(134, 70%, 77%, 1);
$success1: hsla(134, 90%, 90%, 1);

.disclaimer {
	position: fixed;
	max-height: 200px;
	background-color: $grey2;
	box-shadow: 0 0 2px $grey4;
	color: $grey5;
	width: 99%;
	padding: 17px 15px 5px;
	bottom: 0;
	z-index: 1;
	line-height: 1.5;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 6px;
	@media (max-width: 870px) {
		font-size: 14px;
	}
	@media (max-width: 400px) {
		font-size: 13px;
	}
	button {
		cursor: pointer;
		background-image: linear-gradient(175deg, $success4, $success5);;
		border-width: 0;
		font-size: 16px;
		padding: 6px 15px;
		border-radius: 5px;
		color: inherit;
		margin-top: 7px;
		&:active, &:hover {
			background: $success6;
			color: $grey2;
		}
		&:focus {
			outline: none;
		}
	}
}

.heroku-dyno {
	background: blue;
	width: 10px;
	height: 10px;
}