.navbar {
    background-color: black !important;
    height: 70px !important;
}

.navbar-header{
    margin-left: auto !important;
    width:100%;
}

.jumbotron {
    height: 500px !important;
    border-radius: 0 !important;
}

.banner-image {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)), 
        url("http://www.itaniumsolutions.org/pics/max/95/954235_studying-wallpapers-student.jpg");
    height: 100%;
    background-position-y: 90%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}