html {
    scroll-behavior: smooth;
}
#quill-wrapper {
    width: 70%;
    height: 70%;
    margin: auto;
}

#quill-input {
    height: 13rem;
}

.note-output {
    border: 1px solid black;
    width: 70%;
    height: 17rem;
    margin: 20px auto 20px auto;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    border-left: 4px solid #ccc;
    padding-left: 16px;
}

pre {
    background-color: #f0f0f0;
   border-radius: 3px;
   padding: 6px 10px;
}

.ql-indent-1 {
    padding-left: 3em;
}

.ql-indent-2 {
    padding-left: 6em;
}

.ql-indent-3 {
    padding-left: 9em;
}

.ql-indent-4 {
    padding-left: 12em;
}

.ql-indent-5 {
    padding-left: 15em;
}

.ql-indent-6 {
    padding-left: 18em;
}

.ql-indent-7 {
    padding-left: 21em;
}

.ql-indent-8 {
    padding-left: 24em;
}

.ql-indent-9 {
    padding-left: 27em;
}