$grey5: hsla(220, 15%, 23%, 1);
$grey3: hsla(220, 17%, 61%, 1);
$grey2: hsla(220, 17%, 80%, 1);
$grey1: hsla(220, 20%, 98%, 1);

.grid-align-btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 80px;
    width: 100%;
    position: relative;
    top: 13px;
    padding-right: 20px; 
}

.delete-note-btn {
    background: transparent;
    border: none;
    padding: 0;
    color: hsl(3, 100%, 50%);
    cursor: pointer;
    &:hover, &:active {
        top: -3px;
        position: relative;
        text-shadow: 1px 3px 1px hsla(0, 100%, 30%, 0.3);
        transition: text-shadow 150ms;
    }
    &:focus {
        outline: none;
    }
}

$noteWidth: 70vw;

.note-output {
    display: flex;
    flex-wrap: wrap;
    max-width: $noteWidth;
    max-height: 500px;
    border-radius: 0;
    margin: 20px auto 20px auto;
    box-shadow: 1px 6px 14px -4px rgba(0, 0, 0, 0.75);
    background-color: rgb(253, 252, 250);

    .quill-output {
        padding: 30px;
        width: $noteWidth;
        text-align: left;
        @media (max-width: 767px) {
            font-size: 14px;
        }
        @media (max-width: 479px) {
            font-size: 13px;
        }
        @media (max-width: 399px) {
            font-size: 12px;
        }
    }
}

#quill-wrapper {
    width: 70%;
    height: 70%;
    margin: auto;
}

.ql-toolbar, .ql-editor {
    background: white;
}

.ql-toolbar {
    border: 1px solid white !important;
}

.ql-editor {
    white-space: normal !important;
    box-shadow: inset 0 0 10px hsl(0, 0%, 67%);
}

#quill-input {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 52px;
}


blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    border-left: 4px solid #ccc;
    padding-left: 16px;
}

pre {
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 6px 10px;
}

.ql-indent-1 {
    padding-left: 3em;
}

.ql-indent-2 {
    padding-left: 6em;
}

.ql-indent-3 {
    padding-left: 9em;
}

.ql-indent-4 {
    padding-left: 12em;
}

.ql-indent-5 {
    padding-left: 15em;
}

.ql-indent-6 {
    padding-left: 18em;
}

.ql-indent-7 {
    padding-left: 21em;
}

.ql-indent-8 {
    padding-left: 24em;
}

.ql-indent-9 {
    padding-left: 27em;
}

$alternate5: hsla(180, 85%, 50%, 1);

#scrolldown-btn {
    &__icon {
        font-size: 50px;
        color: $alternate5;
        position: relative;
    }
}

#save-note-btn {
	margin: auto;
	box-shadow: 0 0 10px $grey2;
	cursor: pointer;
	border-top: 2px solid $grey3;
	padding: 7px 18px;
	font-size: 16px;
	color: $grey1;
	background: $grey5;
	border-radius: 7px;
	&:active {
		border-top: 0;
		box-shadow: inset 0 0 10px $grey3;
		border-bottom: 2px solid $grey3;
	}
	&:focus {
		outline: none;
	}
}