.p_font {
  font-size: 20px;
}

.flippy-card {
  /* border: 5px solid blue; */
  min-width: 100px;
  max-width: 500px;
}

.flippy-front {
  /* border: 6px solid red; */
  margin-top: 29%;
  /* overflow-y: auto; */
  word-wrap: break-word;
  /* right: 6%; */
  /* right: 500px; */
}

.flippy-back {
  /* border: 6px solid green; */
  /* overflow-y: auto; */
  word-wrap: break-word;
  /* right: 6%; */
  position: absolute;
  right: 500px;
}

div.slider {
  height: 450px !important;
  width: 60vmax !important;
  margin: auto;
  padding-left: 0;
}

div.slider-frame {
  height: 450px !important;
  margin: auto;
  padding: 50px;
  /* border: 4px solid red; */
  text-align: center;
  justify-content: center;
}

#search-bar {
  width: 800px;
}

.flashcard {
  margin: 10px auto 10px auto;
  height: 400px;
  width: 300px;
}

#flashcard-grid {
  height: 500px;
  width: 75%;
  margin: 50px auto 50px auto;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

#edit-btns {
  border: 1px solid border;
  margin-left: 47%;
  margin-right: 47%;
}

#edit-deck-btn {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#settings-btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 50px;
}

/* Toggle Switches */

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 65%;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle-slider {
  background-color: #2196f3;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded toggle-sliders */

.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}

/* Select & options */

select {
  height: 25px;
}

textarea {
  font-size: 12px;
  font-weight: normal;
  resize: none;
  overflow-y: scroll;
}

.control {
  margin: 1rem 0;
}

.phone-input {
  width: 100%;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s;
}

.cardSaved {
  color: red;
}

.tags-box {
  border-top: 1px solid rgb(126, 198, 247);
  border-bottom: 1px solid rgb(126, 198, 247);
  margin-top: 1%;
}

#close-deck-setting-container {
  right: -250px;
}

#deck-setting-save-btn {
  margin-left: 90%;
}

@media (min-width: 490px) and (max-width: 506px) {
  #close-deck-setting-container {
    right: -49vw !important;
  }
  .slider-control-centerright {
    right: 50px !important;
  }
  .slider-control-centerleft {
    left: 15px !important;
  }

  .flippy-card {
    /* border: 2px solid red; */
  }

  .flippy-front {
    /* border: 2px solid green; */
    transform: translateX(-260px);
  }

  .flippy-back {
    /* border: 2px solid blue; */
  }
}

@media (min-width: 321px) and (max-width: 489px) {
  #close-deck-setting-container {
    right: -30vw !important;
  }
  #deck-setting-save-btn {
    margin-left: 85%;
  }
  .slider-control-centerright {
    right: 50px !important;
  }
  .slider-control-centerleft {
    left: 15px !important;
  }
  .flippy-card {
    /* border: 2px solid red; */
  }

  .flippy-front {
    /* border: 2px solid green; */
    transform: translateX(-260px);
  }

  .flippy-back {
    /* border: 2px solid blue; */
  }
}

@media (max-width: 320px) {
  #close-deck-setting-container {
    right: -20vw !important;
  }
  #deck-setting-save-btn {
    margin-left: 85%;
  }
  .slider-control-centerright {
    right: 50px !important;
  }
  .slider-control-centerleft {
    left: 15px !important;
  }
  .flippy-card {
    /* border: 2px solid red; */
  }

  .flippy-front {
    /* border: 2px solid green; */
    /* transform: translateX(-260px); */
  }

  .flippy-back {
    /* border: 2px solid blue; */
  }
}
