.flippy-front {
  margin-top: 25%;
  margin-left: 76%;
  margin-right: 76%;
  overflow-y: scroll;
}

.flippy-back {
    margin-left: 74%;
    margin-right: 74%;
    overflow-y: scroll;
}

div.slider {
    height: 450px !important;
    width: 1000px !important;
    margin: auto;
}

div.slider-frame {
    height: 450px !important;
    margin: auto;
}

#search-bar {
    width: 800px;
}

.flashcard {
    margin: 10px auto 10px auto;
    height: 400px;
    width: 300px;
}

#flashcard-grid {
    height: 500px;
    width: 75%;
    margin: 50px auto 50px auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

#edit-btns {
    border: 1px solid border;
    margin-left: 45%;
    margin-right: 45%;
}

#edit-deck-btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#settings-btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 50px;
}



/* Toggle Switches */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 65%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggle-slider {
    background-color: #2196F3;
  }
  
  input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded toggle-sliders */
  .toggle-slider.round {
    border-radius: 34px;
  }
  
  .toggle-slider.round:before {
    border-radius: 50%;
  }

  /* Select & options */
  select {
      height: 25px;
  }

  textarea {
    font-size: 12px;
    font-weight: normal;
    resize: none;
    overflow-y: scroll;
  }

  .control {
    margin: 1rem 0;
}

.phone-input {
  width: 100%;
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s;
}