li {
    text-align: left;
}

.card-title {
    margin-bottom: 25px;
}

.profile {
    height: 50vh !important;
    border-radius: 0 !important;
    margin-bottom: 50px;
    background-image: url(../img/notebook.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(75, 76, 77);
}

@media (max-width: 768px) {
    #reminder-todo-row {
        flex-direction: column;
        height: 500px;
    }

    .profile {
        background-size: 190%;
    }
}

.rem_todo_scroll {
    height: 250px;
    overflow-y: scroll;
}

.small-font {
    animation-duration: 1.15s;
}

.card-body a p {
    text-decoration-line: none;
}

.deck_scroll {
    height: 220px;
    overflow-y: scroll;
}

.hover-deck:hover {
    transition: box-shadow 0.2s linear;
    -moz-box-shadow:    inset 0 0 7px rgb(131, 131, 131);
    -webkit-box-shadow: inset 0 0 7px rgb(131, 131, 131);
    box-shadow:   inset 0 0 7px rgb(131, 131, 131);
}

.note_scroll {
    height: 350px;
    overflow-y: scroll;
}

.oneNote {
    width: 100%;
}

.notediv {
    width: 100%;
}

#notes-display {
    /* border: 1px solid rgb(131, 131, 131); */
border-radius: 3px;
-moz-box-shadow:    inset 0 0 10px rgb(131, 131, 131);
-webkit-box-shadow: inset 0 0 10px rgb(131, 131, 131);
box-shadow:   inset 0 0 10px rgb(131, 131, 131);
}


#seeall {
    margin: 10px auto 10px auto;
}

.group {
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.notes {
    margin-bottom: 50px;
}

.noDisplay {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.centerText {
    text-align: center;
}

.quill-output {
    padding: 30px;
}

.note-output {
    overflow-y: auto; 
    width: 20%;
    height: 17rem;
    margin: 20px auto 20px auto;
    border-radius: 25px 0 0 25px;
    -webkit-box-shadow: 1px 6px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 6px 14px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 6px 14px -4px rgba(0, 0, 0, 0.75);
    background-color: rgb(250, 245, 239);
}

.note-output .card-body div.quill-output{
    width: 100%;
}

@media (max-width: 600px) {
    .note-output {
        height: 20rem;
    }

    .note-output .card-body {
        padding: 0;
    }

    .note-output .card-body div.quill-output{
        width: 64vw;
        word-wrap: normal;
    }
}

.small_font {
    font-size: 16px;
}

.quote {
    color: white;
    font-size: 20px;
}