li {
    text-align: left;
}

.profile {
    height: 300px !important;
    border-radius: 0 !important;
    margin-bottom: 50px;
    background-image: url(../img/coffee.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.group {
    margin-top: 50px;
    padding-top: 20px;
}

.scroll {
    height: 250px;
    overflow-y: scroll;
}

#seeall {
    margin: 10px auto 10px auto;
}

.notes {
    margin-bottom: 50px;
}