li {
    text-align: left;
}

.card-title {
    margin-bottom: 25px;
}

.profile {
    height: 300px !important;
    border-radius: 0 !important;
    margin-bottom: 50px;
    background-image: url(../img/notebook.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(75, 76, 77);
}

.rem_todo_scroll {
    height: 250px;
    overflow-y: scroll;
}

.deck_scroll {
    height: 220px;
    overflow-y: scroll;
}

.note_scroll {
    height: 350px;
    overflow-y: scroll;
}

.oneNote {
    width: 100%;
}

.notediv {
    width: 100%;
}

#seeall {
    margin: 10px auto 10px auto;
}

.group {
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.notes {
    margin-bottom: 50px;
}

.noDisplay {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.centerText {
    text-align: center;
}

.quill-output {
    padding: 30px;
}

.note-output {
    /* border: 1px solid black; */
    width: 20%;
    height: 17rem;
    margin: 20px auto 20px auto;
    border-radius: 25px 0 0 25px;
    -webkit-box-shadow: 1px 6px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 6px 14px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 6px 14px -4px rgba(0, 0, 0, 0.75);
    background-color: rgb(250, 245, 239);
}

.small_font {
    font-size: 16px;
}

div.card-body {
    width: 75vw;
}