li {
    text-align: left;
}

.jumbotron {
    height: 300px !important;
    border-radius: 0 !important;
    margin-bottom: 50px;
    background-image: url(../img/book.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

.group {
    margin-top: 50px;
    padding-top: 20px;
}

.scroll {
    overflow-y: scroll;
    height: 250px;
}

.notes {
    margin-bottom: 50px;
}