$grey5: hsla(220, 15%, 23%, 1);
$grey4: hsla(220, 15%, 42%, 1);
$grey3: hsla(220, 17%, 61%, 1);
$grey2: hsla(220, 17%, 80%, 1);
$grey1: hsla(220, 20%, 98%, 1);

$primary8: hsla(214, 100%, 30%, 1);
$primary7: hsla(214, 100%, 35%, 1);
$primary6: hsla(214, 100%, 40%, 1);
$primary5: hsla(214, 100%, 50%, 1);

.select-dropdown {
    background: hsl(0, 0%, 99%);
    border-radius: 5px;
    border-right: 0;
    border-bottom: 2px solid hsl(0, 0%, 98%);
    box-shadow: inset 0 0 5px hsl(0, 0%, 43%);
    max-width: 390px;
    left: 8px;
    position: relative;
    &:focus , &:active {
        outline: none !important;
    }
}

.react-datetime-picker__wrapper {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 5px;
}

.checkbox-format {
    margin-top: 8px;
}

.validation {
    margin-top: 5px;
    border: 1px solid hsl(0, 100%, 60%);
    border-radius: 7px;
    background-color: hsl(0, 100%, 95%);
    width: 202px;
    padding: 3px 10px;
    color: red;
    font-size: 14px;
    font-weight: 300;
}

#wrapper {
    margin: 0 auto;
}

.event-btn-container {
    margin: 20px auto 20px auto;
}

.event-item {
   margin: 20px auto;
   box-shadow: 5px 7px 5px -5px #888;
}

.modal-form {
    margin: auto 5% auto 10%;
}

#modal-position {
    margin: 10% auto;
    position: relative;
    max-width: 500px;
}

.select-dropdown {
    margin: auto;
}

.alert-format {
    margin-top: 15px;
}

.toggle-format {
    padding-right: 19px;
}

.delete-reminder-btn {
    border: none;
    padding: 0;
    position: relative;
    top: 2px;
    background-color: transparent;
    color: hsl(0, 100%, 45%);
    cursor: pointer;
    &:hover, &:active {
        top: -1px;
        position: relative;
        text-shadow: 1px 3px 1px hsla(0, 100%, 30%, 0.3);
        transition: text-shadow 150ms;
    }
    &:focus {
        outline: none;
    }
}

.phone-input {
    border-radius: 5px !important;
    border-bottom: 2px solid hsl(0, 0%, 98%);
    box-shadow: inset 0 0 5px hsl(0, 0%, 43%);
    &:focus {
        outline: none;
    }
}

.reminders-btn {
    margin: auto;
	cursor: pointer;
	padding: 7px 18px;
	font-size: 16px;
    border-radius: 7px;
    color: $grey1;
    &:active {
        border-top: 0;
    }
	&:focus {
		outline: none;
    }
    &--primary {
        background: $primary5;
        border-top: 2px solid $primary6;
        &:active {
            background: $primary7;
            box-shadow: inset 0 0 5px $primary8;
            border-bottom: 2px solid $primary7;
        }
    }
    &--dark {
        background: $grey5;
        box-shadow: 0 0 10px $grey2;
        border-top: 2px solid $grey3;
        &:active {
            box-shadow: inset 0 0 10px $grey3;
            border-bottom: 2px solid $grey3;
        }
    }
}

.create-reminder-input {
	width: 100%;
	border-radius: 7px;
	border: transparent;
	background: $grey1;
	box-shadow: inset 0 0 7px $grey3;
	border-bottom: 1px solid hsla(220, 17%, 70%, 1);
    color: $grey5;
    position: relative;
    top: -5px;
	margin-bottom: 5px;
	padding: 6px 12px;
	&:focus {
		outline: none;
	}
}