.modal-body {
    background-color: white;
}

.react-datetime-picker__wrapper {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 5px;
}

p {
    margin-bottom: 8px;
}

.checkbox-format {
    margin-top: 8px;
}

.validation {
    color: red;
}

#wrapper {
    margin: 0 auto 0 auto;
}

.add-event-btn {
    margin: 20px auto 20px auto;
}

.event-item {
   margin: 20px auto 20px auto;
   box-shadow: 5px 7px 5px -5px #888;
}

.modal-form {
    margin: auto 5% auto 10%;
}

#modal-position {
    margin: 10% auto 10% auto;
    position: relative;
    width: 500px
}

.select-dropdown {
    margin: auto;
}