.feature-cards {
    padding-left: 40px;
    padding-right: 40px;
}

.search-form {
    display: inline-block;
    position: relative;
    margin: auto;
    vertical-align: baseline;
}
  
.search-form input {
    height: 40px;
    padding-right: 10px;
    padding-left: 15px;
    min-width: 32vw;
    border-radius: 8px;
    border: transparent;
    outline: none;
    margin-right: 10px;
    background: rgb(214, 214, 214);
}
  
.search-form button {
    /* position: absolute; */
    top: -1.9px;
    right: 0;
    border-radius: 8px;
}

.search-btn__text {
    font-size: 18px;
}