$primary8: hsla(214, 100%, 30%, 1);
$primary7: hsla(214, 100%, 35%, 1);
$primary6: hsla(214, 100%, 40%, 1);
$primary5: hsla(214, 100%, 50%, 1);
$primary4: hsla(214, 100%, 60%, 1);
$primary3: hsla(214, 100%, 70%, 1);
$primary2: hsla(214, 100%, 80%, 1);
$primary1: hsla(214, 100%, 90%, 1);
$primary0: hsla(214, 100%, 96%, 1);

$grey5: hsla(220, 15%, 23%, 1);
$grey4: hsla(220, 15%, 42%, 1);
$grey3: hsla(220, 17%, 61%, 1);
$grey2: hsla(220, 17%, 80%, 1);
$grey1: hsla(220, 20%, 98%, 1);

$danger5: hsla(3, 100%, 50%, 1);
$danger4: hsla(3, 100%, 57%, 1);
$danger3: hsla(3, 100%, 70%, 1);
$danger2: hsla(3, 100%, 78%, 1);
$danger1: hsla(3, 100%, 90%, 1);

$success6: hsla(134, 61%, 40%, 1);
$success5: hsla(123, 61%, 50%, 1);
$success4: hsla(134, 55%, 54%, 1);
$success3: hsla(134, 80%, 65%, 1);
$success2: hsla(134, 70%, 77%, 1);
$success1: hsla(134, 90%, 90%, 1);

$warning5: hsla(44, 98%, 63%, 1);
$warning4: hsla(44, 95%, 69%, 1);
$warning3: hsla(44, 100%, 75%, 1);
$warning2: hsla(44, 100%, 80%, 1);
$warning1: hsla(44, 100%, 92%, 1);

$alternate7: hsla(180, 85%, 35%, 1);
$alternate6: hsla(180, 85%, 45%, 1);
$alternate5: hsla(180, 85%, 50%, 1);
$alternate4: hsla(180, 85%, 68%, 1);
$alternate3: hsla(180, 87%, 75%, 1);
$alternate2: hsla(180, 100%, 87%, 1);
$alternate1: hsla(180, 100%, 92%, 1);