body {
    overflow-x: hidden;
    transition: all 0.3s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    box-shadow: 4px 0 5px -2px #888;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
    transition: width 5s;
}

#menu-toggle {
    margin-right: 15%;
    margin-bottom: 20px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.sidebar-nav-item {
    transition: background 0.55s;
}

.sidebar-nav-span {
    color: white;
    transition: 0.55s;
    font-size: 16px;
}

.sidebar-nav-item:hover {
    background: white;
}

.sidebar-nav-item:hover .sidebar-nav-span {
    color: black;
    font-size: 18px;
}

#profile-span:hover .sidebar-nav-span {
    font-size: 21px !important;
}

#settings-span:hover .sidebar-nav-span {
    font-size: 19px !important;
}

.log-out-btn {
    border: 2px solid transparent;
    transition: background 0.55s;
}

.log-out-btn:hover {
    background: black;
    color: white;
    border: 2px solid white;
}