body {
	overflow-x: hidden;
	transition: all 0.3s ease;
	transition: margin-left 150ms linear;
}

#menu-toggle {
	position: fixed;
	top: 13px;
	left: 89px;
	background: whitesmoke;
	z-index: 2;
	margin-bottom: 20px;
	border-radius: 50%;
	width: 70px;
	font-size: 36px;
	color: hsl(0, 0%, 17%);
	box-shadow: 0 2px 8px rgb(124, 124, 124), 0 2px 2px rgb(187, 187, 187);
	@media (max-width: 768px) {
		left: -45px;
		position: relative;
		width: 50px;
		height: 50px;
		font-size: 24px;
	}
	&:hover,
	&:active {
		color: hsl(211, 99%, 43%);
	}
}

#sidebar {
	z-index: 1;
	position: fixed;
	left: 250px;
	width: 250px;
	transition: width 5s;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: hsl(0, 0%, 17%);
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	&__link {
		transition: background 0.55s;
	}
	&__link:hover .sidebar-nav__text,
	&__link:active .sidebar-nav__text {
		color: hsl(240, 81%, 65%);
		font-size: 18px;
	}
	&__text {
		color: white;
		transition: 0.55s;
		font-size: 16px;
	}

	li {
		text-indent: 20px;
		line-height: 40px;
		a {
			display: block;
			text-decoration: none;
			color: #999999;
		}
		a:hover {
			text-decoration: none;
			color: #fff;
			background: rgba(255, 255, 255, 0.2);
		}
		a:active,
		a:focus {
			text-decoration: none;
		}
	}
}

.sidebar-nav > .sidebar-nav__brand {
	height: 65px;
	line-height: 60px;
	a {
		color: #999999;
	}
	a:hover {
		color: #fff;
		background: none;
	}
}

#wrapper__content {
	@media (min-width: 768px) {
		padding: 20px;
		position: relative;
	}
}

#profile-span:hover .sidebar-nav__text {
	font-size: 21px !important;
}

#settings-span:hover .sidebar-nav__text {
	font-size: 19px !important;
}

.log-out-btn {
	background: transparent;
	color: hsl(0, 0%, 84%);
	border: 2px solid transparent;
	transition: color 200ms;
	font-weight: 500;
	left: -5px;
	cursor: pointer;
	margin: 40% 50px 0 50px;
	bottom: 0;
	&:hover,
	&:active {
		color: hsl(355, 70%, 46%);
	}
}
