$danger5: hsla(3, 100%, 50%, 1);

$success6: hsla(134, 61%, 40%, 1);
$success5: hsla(123, 61%, 50%, 1);
$success4: hsla(134, 55%, 54%, 1);
$success3: hsla(134, 80%, 65%, 1);
$success2: hsla(134, 70%, 77%, 1);
$success1: hsla(134, 90%, 90%, 1);

$primary8: hsla(214, 100%, 30%, 1);
$primary7: hsla(214, 100%, 35%, 1);
$primary6: hsla(214, 100%, 40%, 1);
$primary5: hsla(214, 100%, 50%, 1);
$primary4: hsla(214, 100%, 60%, 1);

$grey5: hsla(220, 15%, 23%, 1);
$grey4: hsla(220, 15%, 42%, 1);
$grey3: hsla(220, 17%, 61%, 1);
$grey2: hsla(220, 17%, 80%, 1);
$grey1: hsla(220, 20%, 98%, 1);
$greyAlt: hsla(220, 17%, 95%, 1);


.todo-list {
	border: none;
	background: transparent;
	&__item {
		margin-top: 10px;
		margin-bottom: 10px;
		box-shadow: 0 0 10px hsl(0, 0%, 90%), 0 2px 5px hsl(0, 0%, 60%);
		word-break: break-word;
	}
}

.edit-span {
	@media (max-width: 500px) {
		display: none;
	}
}

.time_date {
	text-align: right;
}

.duedate {
	text-align: right;
}

.push-right {
	float: right;
}

.task {
	float: left;
	padding-top: 10px;
}

.validation {
	color: $danger5;
	visibility: visible;
}

.novalidation {
	visibility: hidden;
}

.todo-btn {
	border: none;
	margin: auto;
	cursor: pointer;
	padding: 7px 18px;
	font-size: 16px;
	border-radius: 7px;
	color: $grey1;
	&:active {
		border-top: 0;
	}
	&:focus {
		outline: none;
	}
	&--primary {
		background: $primary5;
		border-top: 3px solid $primary6;
		&:active {
			background: $primary7;
			box-shadow: inset 0 0 5px $primary8;
			border-bottom: 2px solid $primary7;
		}
	}
	&--dark {
		background: $grey5;
		box-shadow: 0 0 10px $grey2;
		border-top: 2px solid $grey3;
		&:active {
			box-shadow: inset 0 0 10px $grey3;
			border-bottom: 2px solid $grey3;
		}
	}
}

.check-btn {
    margin: auto;
	cursor: pointer;
	padding: 7px 18px;
	font-size: 16px;
    border-radius: 7px;
    height: 52px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 5px $grey3;
    color: $grey1;
    background-image: linear-gradient(175deg, $success3, $success5);
    &:active {
        box-shadow: inset 0 0 20px $grey5;
        border-bottom: 1px solid $success4;
    }
    &:focus {
        outline: none;
    }
}

.todo-input {
    width: 100%;
    height: 70px;
	border-radius: 7px;
	border: transparent;
	background: $greyAlt;
	border-bottom: 2px solid hsla(220, 17%, 60%, 1);
	box-shadow: inset 0 0 10px $grey4;
	color: $grey5;
    position: relative;
    font-size: 16px;
	padding: 6px 12px;
	&:focus {
		outline: none;
	}
}

.edit-task-btn {
    border: none;
    padding: 0;
    position: relative;
    background-color: transparent;
    color: $primary5;
    margin-right: 10px;
    cursor: pointer;
    &:hover, &:active {
        top: -1px;
        text-shadow: 1px 3px 1px hsla(214, 100%, 50%, 0.3);
        transition: text-shadow 150ms;
    }
    &:focus {
        outline: none;
    }
}