@use "./theme" as theme;

$text-sizes: (
  16: 0.75rem,
  // 12px
  15: 0.875rem,
  // 14px
  14: 1rem,
  // 16px
  13: 1.125rem,
  // 18px
  12: 1.25rem,
  // 20px
  11: 1.5rem,
  // 24px
  10: 1.875rem,
  // 30px
  9: 2rem,
  // 32px
  8: 2.25rem,
  // 36px
  7: 2.5rem,
  // 40px
  6: 3rem,
  // 48px
  5: 3.5rem,
  // 56px
  4: 3.75rem,
  // 60px
  3: 4.5rem,
  // 72px
  2: 6rem,
  // 96px
  1: 8rem,
  // 128px
);

$breakpoints: (
  "": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

@each $key, $value in $text-sizes {
  @each $breakpoint, $min-width in $breakpoints {
    @if $breakpoint == "" {
      .text-size-#{$key} {
        font-size: $value;
      }
    } @else {
      @media (min-width: $min-width) {
        .text-size-#{$breakpoint}-#{$key} {
          font-size: $value;
        }
      }
    }
  }
}

@each $color-name, $color-value in theme.$colors {
  .button-#{$color-name} {
    background-color: $color-value !important;
  }

  @each $bp, $min-width in $breakpoints {
    @if $bp != "" {
      @media (min-width: $min-width) {
        .button-#{$bp}-#{$color-name} {
          background-color: $color-value !important;
        }

        @media (hover: hover) and (pointer: fine) {
          .hover\:button-#{$bp}-#{$color-name}:hover {
            background-color: $color-value !important;
          }
          .active\:button-#{$bp}-#{$color-name}:active {
            background-color: $color-value !important;
          }
        }

        @media (hover: none) and (pointer: coarse) {
          .active\:button-#{$bp}-#{$color-name}:active {
            background-color: $color-value !important;
          }
        }
      }
    } @else {
      @media (hover: hover) and (pointer: fine) {
        .hover\:button-#{$color-name}:hover {
          background-color: $color-value !important;
        }
        .active\:button-#{$color-name}:active {
          background-color: $color-value !important;
        }
      }

      @media (hover: none) and (pointer: coarse) {
        .active\:button-#{$color-name}:active {
          background-color: $color-value !important;
        }
      }
    }
  }
}
