.text-size-16 {
  font-size: 0.75rem;
}

@media (min-width: 576px) {
  .text-size-sm-16 {
    font-size: 0.75rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-16 {
    font-size: 0.75rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-16 {
    font-size: 0.75rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-16 {
    font-size: 0.75rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-16 {
    font-size: 0.75rem;
  }
}
.text-size-15 {
  font-size: 0.875rem;
}

@media (min-width: 576px) {
  .text-size-sm-15 {
    font-size: 0.875rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-15 {
    font-size: 0.875rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-15 {
    font-size: 0.875rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-15 {
    font-size: 0.875rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-15 {
    font-size: 0.875rem;
  }
}
.text-size-14 {
  font-size: 1rem;
}

@media (min-width: 576px) {
  .text-size-sm-14 {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-14 {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-14 {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-14 {
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-14 {
    font-size: 1rem;
  }
}
.text-size-13 {
  font-size: 1.125rem;
}

@media (min-width: 576px) {
  .text-size-sm-13 {
    font-size: 1.125rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-13 {
    font-size: 1.125rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-13 {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-13 {
    font-size: 1.125rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-13 {
    font-size: 1.125rem;
  }
}
.text-size-12 {
  font-size: 1.25rem;
}

@media (min-width: 576px) {
  .text-size-sm-12 {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-12 {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-12 {
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-12 {
    font-size: 1.25rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-12 {
    font-size: 1.25rem;
  }
}
.text-size-11 {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .text-size-sm-11 {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-11 {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-11 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-11 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-11 {
    font-size: 1.5rem;
  }
}
.text-size-10 {
  font-size: 1.875rem;
}

@media (min-width: 576px) {
  .text-size-sm-10 {
    font-size: 1.875rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-10 {
    font-size: 1.875rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-10 {
    font-size: 1.875rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-10 {
    font-size: 1.875rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-10 {
    font-size: 1.875rem;
  }
}
.text-size-9 {
  font-size: 2rem;
}

@media (min-width: 576px) {
  .text-size-sm-9 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-9 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-9 {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-9 {
    font-size: 2rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-9 {
    font-size: 2rem;
  }
}
.text-size-8 {
  font-size: 2.25rem;
}

@media (min-width: 576px) {
  .text-size-sm-8 {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-8 {
    font-size: 2.25rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-8 {
    font-size: 2.25rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-8 {
    font-size: 2.25rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-8 {
    font-size: 2.25rem;
  }
}
.text-size-7 {
  font-size: 2.5rem;
}

@media (min-width: 576px) {
  .text-size-sm-7 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-7 {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-7 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-7 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-7 {
    font-size: 2.5rem;
  }
}
.text-size-6 {
  font-size: 3rem;
}

@media (min-width: 576px) {
  .text-size-sm-6 {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-6 {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-6 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-6 {
    font-size: 3rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-6 {
    font-size: 3rem;
  }
}
.text-size-5 {
  font-size: 3.5rem;
}

@media (min-width: 576px) {
  .text-size-sm-5 {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-5 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-5 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-5 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-5 {
    font-size: 3.5rem;
  }
}
.text-size-4 {
  font-size: 3.75rem;
}

@media (min-width: 576px) {
  .text-size-sm-4 {
    font-size: 3.75rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-4 {
    font-size: 3.75rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-4 {
    font-size: 3.75rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-4 {
    font-size: 3.75rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-4 {
    font-size: 3.75rem;
  }
}
.text-size-3 {
  font-size: 4.5rem;
}

@media (min-width: 576px) {
  .text-size-sm-3 {
    font-size: 4.5rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-3 {
    font-size: 4.5rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-3 {
    font-size: 4.5rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-3 {
    font-size: 4.5rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-3 {
    font-size: 4.5rem;
  }
}
.text-size-2 {
  font-size: 6rem;
}

@media (min-width: 576px) {
  .text-size-sm-2 {
    font-size: 6rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-2 {
    font-size: 6rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-2 {
    font-size: 6rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-2 {
    font-size: 6rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-2 {
    font-size: 6rem;
  }
}
.text-size-1 {
  font-size: 8rem;
}

@media (min-width: 576px) {
  .text-size-sm-1 {
    font-size: 8rem;
  }
}
@media (min-width: 768px) {
  .text-size-md-1 {
    font-size: 8rem;
  }
}
@media (min-width: 992px) {
  .text-size-lg-1 {
    font-size: 8rem;
  }
}
@media (min-width: 1200px) {
  .text-size-xl-1 {
    font-size: 8rem;
  }
}
@media (min-width: 1400px) {
  .text-size-xxl-1 {
    font-size: 8rem;
  }
}
.button-primary {
  background-color: red !important;
}

@media (hover: hover) and (pointer: fine) {
  else .hover\:button-primary {
    background-color: red !important;
  }
  else .active\:button-primary {
    background-color: red !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-primary {
    background-color: red !important;
  }
}

@media (min-width: 576px) {
  .button-sm-primary {
    background-color: red !important;
  }
}
@media (min-width: 576px) and (hover: hover) and (pointer: fine) {
  .hover\:button-sm-primary {
    background-color: red !important;
  }
  .active\:button-sm-primary {
    background-color: red !important;
  }
}
@media (min-width: 576px) and (hover: none) and (pointer: coarse) {
  .active\:button-sm-primary {
    background-color: red !important;
  }
}
@media (hover: hover) and (pointer: fine) {
  else .hover\:button-primary {
    background-color: red !important;
  }
  else .active\:button-primary {
    background-color: red !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-primary {
    background-color: red !important;
  }
}

@media (min-width: 768px) {
  .button-md-primary {
    background-color: red !important;
  }
}
@media (min-width: 768px) and (hover: hover) and (pointer: fine) {
  .hover\:button-md-primary {
    background-color: red !important;
  }
  .active\:button-md-primary {
    background-color: red !important;
  }
}
@media (min-width: 768px) and (hover: none) and (pointer: coarse) {
  .active\:button-md-primary {
    background-color: red !important;
  }
}
@media (hover: hover) and (pointer: fine) {
  else .hover\:button-primary {
    background-color: red !important;
  }
  else .active\:button-primary {
    background-color: red !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-primary {
    background-color: red !important;
  }
}

@media (min-width: 992px) {
  .button-lg-primary {
    background-color: red !important;
  }
}
@media (min-width: 992px) and (hover: hover) and (pointer: fine) {
  .hover\:button-lg-primary {
    background-color: red !important;
  }
  .active\:button-lg-primary {
    background-color: red !important;
  }
}
@media (min-width: 992px) and (hover: none) and (pointer: coarse) {
  .active\:button-lg-primary {
    background-color: red !important;
  }
}
@media (hover: hover) and (pointer: fine) {
  else .hover\:button-primary {
    background-color: red !important;
  }
  else .active\:button-primary {
    background-color: red !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-primary {
    background-color: red !important;
  }
}

@media (min-width: 1200px) {
  .button-xl-primary {
    background-color: red !important;
  }
}
@media (min-width: 1200px) and (hover: hover) and (pointer: fine) {
  .hover\:button-xl-primary {
    background-color: red !important;
  }
  .active\:button-xl-primary {
    background-color: red !important;
  }
}
@media (min-width: 1200px) and (hover: none) and (pointer: coarse) {
  .active\:button-xl-primary {
    background-color: red !important;
  }
}
@media (hover: hover) and (pointer: fine) {
  else .hover\:button-primary {
    background-color: red !important;
  }
  else .active\:button-primary {
    background-color: red !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-primary {
    background-color: red !important;
  }
}

@media (min-width: 1400px) {
  .button-xxl-primary {
    background-color: red !important;
  }
}
@media (min-width: 1400px) and (hover: hover) and (pointer: fine) {
  .hover\:button-xxl-primary {
    background-color: red !important;
  }
  .active\:button-xxl-primary {
    background-color: red !important;
  }
}
@media (min-width: 1400px) and (hover: none) and (pointer: coarse) {
  .active\:button-xxl-primary {
    background-color: red !important;
  }
}
@media (hover: hover) and (pointer: fine) {
  else .hover\:button-primary {
    background-color: red !important;
  }
  else .active\:button-primary {
    background-color: red !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-primary {
    background-color: red !important;
  }
}

.button-secondary {
  background-color: blue !important;
}

@media (hover: hover) and (pointer: fine) {
  else .hover\:button-secondary {
    background-color: blue !important;
  }
  else .active\:button-secondary {
    background-color: blue !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-secondary {
    background-color: blue !important;
  }
}

@media (min-width: 576px) {
  .button-sm-secondary {
    background-color: blue !important;
  }
}
@media (min-width: 576px) and (hover: hover) and (pointer: fine) {
  .hover\:button-sm-secondary {
    background-color: blue !important;
  }
  .active\:button-sm-secondary {
    background-color: blue !important;
  }
}
@media (min-width: 576px) and (hover: none) and (pointer: coarse) {
  .active\:button-sm-secondary {
    background-color: blue !important;
  }
}
@media (hover: hover) and (pointer: fine) {
  else .hover\:button-secondary {
    background-color: blue !important;
  }
  else .active\:button-secondary {
    background-color: blue !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-secondary {
    background-color: blue !important;
  }
}

@media (min-width: 768px) {
  .button-md-secondary {
    background-color: blue !important;
  }
}
@media (min-width: 768px) and (hover: hover) and (pointer: fine) {
  .hover\:button-md-secondary {
    background-color: blue !important;
  }
  .active\:button-md-secondary {
    background-color: blue !important;
  }
}
@media (min-width: 768px) and (hover: none) and (pointer: coarse) {
  .active\:button-md-secondary {
    background-color: blue !important;
  }
}
@media (hover: hover) and (pointer: fine) {
  else .hover\:button-secondary {
    background-color: blue !important;
  }
  else .active\:button-secondary {
    background-color: blue !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-secondary {
    background-color: blue !important;
  }
}

@media (min-width: 992px) {
  .button-lg-secondary {
    background-color: blue !important;
  }
}
@media (min-width: 992px) and (hover: hover) and (pointer: fine) {
  .hover\:button-lg-secondary {
    background-color: blue !important;
  }
  .active\:button-lg-secondary {
    background-color: blue !important;
  }
}
@media (min-width: 992px) and (hover: none) and (pointer: coarse) {
  .active\:button-lg-secondary {
    background-color: blue !important;
  }
}
@media (hover: hover) and (pointer: fine) {
  else .hover\:button-secondary {
    background-color: blue !important;
  }
  else .active\:button-secondary {
    background-color: blue !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-secondary {
    background-color: blue !important;
  }
}

@media (min-width: 1200px) {
  .button-xl-secondary {
    background-color: blue !important;
  }
}
@media (min-width: 1200px) and (hover: hover) and (pointer: fine) {
  .hover\:button-xl-secondary {
    background-color: blue !important;
  }
  .active\:button-xl-secondary {
    background-color: blue !important;
  }
}
@media (min-width: 1200px) and (hover: none) and (pointer: coarse) {
  .active\:button-xl-secondary {
    background-color: blue !important;
  }
}
@media (hover: hover) and (pointer: fine) {
  else .hover\:button-secondary {
    background-color: blue !important;
  }
  else .active\:button-secondary {
    background-color: blue !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-secondary {
    background-color: blue !important;
  }
}

@media (min-width: 1400px) {
  .button-xxl-secondary {
    background-color: blue !important;
  }
}
@media (min-width: 1400px) and (hover: hover) and (pointer: fine) {
  .hover\:button-xxl-secondary {
    background-color: blue !important;
  }
  .active\:button-xxl-secondary {
    background-color: blue !important;
  }
}
@media (min-width: 1400px) and (hover: none) and (pointer: coarse) {
  .active\:button-xxl-secondary {
    background-color: blue !important;
  }
}
@media (hover: hover) and (pointer: fine) {
  else .hover\:button-secondary {
    background-color: blue !important;
  }
  else .active\:button-secondary {
    background-color: blue !important;
  }
}
@media (hover: none) and (pointer: coarse) {
  else .active\:button-secondary {
    background-color: blue !important;
  }
}

/*# sourceMappingURL=my-utilities.css.map */
