.settings-content {
    display: flex;
    margin: auto;
    border: 2px solid brown;
    width: 100%;
    &__username, &__phonenumber {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        @media (max-width: 900px) {
            flex-direction: column;
        }
    }
    &__username {
        border: 2px dotted black;
        padding-bottom: 0;
        &__info {
            flex-direction: column;
            min-height: 60px;
            border: 1px solid red;
            margin-bottom: 25px;
        }
        &__form {
            flex-direction: column;
            min-height: 100px;
            border: 1px solid blue;
        }
    }
    &__phonenumber {
        border: 2px double black;
        height: 600px;
        &__info {
            flex-direction: column;
            // height: 379px;
            border: 2px solid purple;
            margin-bottom: 25px;
            @media (max-width: 350px) {
                height: 350px;
            }
        }
        &__form {
            flex-direction: column;
            // height: 115px;
            border: 2px dotted orange;
        }
        &__warning {
            // min-height: 100px;
            border: 1.2px solid hsl(44, 98%, 63%);
            padding: 15px;
            border-radius: 7px;
            background: rgba(255, 230, 161, 0.2)
        }
    }
    &__heading {
        font-weight: 700;
    }
}